html, body, h1{
    padding: 0;
    margin: 0;
    font-family: Avenir;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-wrapper {
    display: grid;
    max-width: 75em;
    margin: 0 auto ;
    align-items: center;
    grid-row-gap: 40px;
}
.category-wrapper h1{
    color: #121212;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
.category-wrapper h1:first-child {
    font-size: 38px;
    padding: 1em 0 2em;
    text-align: center;
}
.category-box-wrapper{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 40px;
}
.category-box{
    height: 100%;
    display: inherit;
    box-shadow: 0px 0 8px 2px rgba(0, 0, 0, 0.18);
    grid-template-rows: 15em auto;
}
.category-box > div {
    color: #121212;
    font-size: 18px;
    border-radius: 4px; 
    text-transform: uppercase;
    padding: 0.875em 1.25em;
    font-weight: 500;
    text-align: center;
}
.category-box:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s transform
}