h2,p{
    margin: 0;
    font-size: 1em;
}
.product-wrapper {
    max-width: 60em;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}
.product{
    display: grid;
    width: 100%;
    grid-template-rows: 200px auto max-content max-content;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    grid-row-gap: 10px;
}
.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product > h2{
    padding: 0 10px; 
    font-size: 1em;

}
.price-wrapper{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 0 10px; 
    justify-content: space-between;
}
.cta-wrapper {
    display: inherit;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    place-items: center;
    cursor: pointer;
}
.cta-border{
    border: 2px solid #000;
    display: inherit;
    place-items: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
.add-to-cart-cta {
    width: 100%;
    text-align: center;
    padding: 0.25em;
    background-color: #545454;
    font-size: 0.875em;
    font-weight: 500;
    text-transform: capitalize;
    color: #FFF;
    border-radius: 50px;
}
.cta-wrapper > div {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    place-items: center;
}