body{
    overflow-y: scroll !important;
    background-color: #fbfbfb;
}
form{
    display: grid;
}
.form-wrapper{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.22);
    padding: 20px;
    background-color: white

}
.checkout-wrapper{
    max-width: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 100px;
    justify-content: space-between;
    margin: 150px auto 300px;
}
input{
    height: 40px;
    margin: 10px;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
}
input::placeholder{
    font-size: 1em;
    font-family: Avenir;
}
input:focus{
    outline: none
}
.paypal-button{
    margin: 20px 10px;
}
.checkout-button {
    background-color: #08c1ffcc;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px;
}
.checkout__cart {
    background-color: #FFF;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,.22);
    max-height: 310px;
    overflow: hidden;
    overflow-y: scroll;
}
.cart__item{
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    border-radius: 0;
    padding: 10px 20px;
}
.checkout-cart__wrapper{
    display: grid;
    justify-content: center;
    grid-template-rows: max-content max-content max-content;
}
.paypal-button__wrapper{
    display: grid;
    place-items: center;
    background-color: #FFF;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,.22);
    padding-top: 20px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #dfdede;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.checkout-cart__wrapper > p {
    font-size: 20px;
    text-align: right;
    font-weight: 500;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,.22);
    color: #121212;
}
.paypal-button__wrapper .paypal-button-tagline {
    display: none!important;
}
.cod{
    background-color: #29bf26;
    text-transform: capitalize;
    cursor: pointer;
}
.login-button-container{
    max-width: 800px;
    margin: 200px auto 0;
    display: grid;
    place-items: center;
    grid-row-gap: 30px;
}
.login-button-container > p {
    font-size: 28px;
    font-family: Avenir;
}
@media(max-width: 768px){
    .checkout-wrapper{
        grid-auto-flow: row;
        grid-template-columns: unset;
        justify-content: unset;
        margin: 100px 20px 40px;
        width: calc(100vw - 40px);
        grid-row-gap: 20px;
    }
    .checkout-cart__wrapper{
        display: block;
    }
}