.header{
    display: block;
    background-color: #08c1ffcc;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.07);
    z-index: 2;
}
.logo {
    position: absolute;
    left: 100px;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    color: #FFF;
    font-size: 1.25em;
}
.logo > img {
    width: 55px;
    height: auto;
}